apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

nameSuffix: -staging

patches:
  - target:
      kind: Deployment
      name: hello-service
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
